.who {
  width: 100%;
  padding: 40px 32px 70px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #188f77;
  color: #fefefe;

  &__container {
    width: 75vw;
    padding: 24px;
    display: flex;
    flex-direction: row;
  }

  &__photo {
    width: 320px;
    height: 360px;
    object-fit: cover;
    margin-right: 24px;
    -moz-border-radius: 25%;
    -webkit-border-radius: 25%;
    border-radius: 25%;
  }
  &__description {
    margin-left: 24px;
    margin-bottom: 32px;
    font-family: "Manjari", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: start;
  }
}
