.section {
  padding: 4rem 8rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  
  &__header {
    margin-block-end: 2rem;
  }
}

.products {
  margin: 3rem;
  padding: 1.8rem 0;
  border-radius: 50%;
  border: 0.3rem dotted #22c3a3;
}

.testimonials {
  background-color: #dddddd;
  &__author {
    max-width: 80%;
    font-family: "Indie Flower", cursive;
    font-size: 1.2rem;
    margin-block-end: 0;
    &--quote {
      max-width: 94%;
      font-family: "Indie Flower", cursive;
      font-size: 0.8rem;
      line-height: 1.1rem;
    }
  }
  &__img {
    max-width: 96%;
    height: 100%;
    object-fit: cover;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2%;
  }
}

.who {
  background-color: #188f77;
  color: #fefefe;
  &__container {
    padding: 0.8rem;
    display: flex;
    flex-direction: row;
  }
  &__photo {
    width: 15.5rem;
    height: 17rem;
    object-fit: cover;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%;
  }
  &__description {
    margin: 0 2.5rem 2rem 4rem;
    font-family: "Manjari", sans-serif;
    font-size: 0.9rem;
    line-height: 1.3rem;
    font-weight: 400;
    text-align: start;
  }
}
