.section {
  padding: 48px 32px 96px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products {
  &__title {
    font-family: "Manjari", sans-serif;
    font-size: 24px;
    font-weight: bold;
  }

  &__description {
    max-width: 50vw;
  }

  &__img {
    width: 160px;
    height: auto;
    object-fit: cover;
    margin: 24px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
}

.testimonials {
  background-color: #dddddd;
  &__quote {
    font-family: "Indie Flower", cursive;
    font-size: 24px;
    &--author {
      font-family: "Indie Flower", cursive;
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
    }
  }
  &__img {
    width: 20vw;
    height: auto;
    object-fit: contain;
    margin-right: 24px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
}

.who {
  background-color: #188f77;
  color: #fefefe;

  &__container {
    width: 75vw;
    padding: 24px;
    display: flex;
    flex-direction: row;
  }

  &__photo {
    width: 320px;
    height: 360px;
    object-fit: cover;
    margin-right: 24px;
    -moz-border-radius: 25%;
    -webkit-border-radius: 25%;
    border-radius: 25%;
  }
  &__description {
    margin-left: 24px;
    margin-bottom: 32px;
    font-family: "Manjari", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: start;
  }
}
