.catalogList {
  flex-grow: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  gap: 1rem;
  justify-content: center;
  text-align: center;
  overflow-y: hidden;
}

