.product {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.8rem;
    overflow: hidden;
    @media all and (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }   
     @media all and (max-width: 500px) {
      padding: 0;
    } 
  }

  &__section {
    width: 40vw;
    max-width: 500px;
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
    @media all and (max-width: 850px) {
      width: 80vw;
      max-width: none;
    }   


  }

  &__text {
    &--title {
      font-family: "Manjari", sans-serif;
      color: #d37762;
      font-size: 24px;
      @media all and (max-width: 500px) {
        text-align: left;
      }
    }
    &--description {
      font-size: 0.8rem;
      line-height: 165%;
    }
    &--small {
      color: #727272;
      font-size: 0.7rem;
      line-height: 150%;
    }
  }

  &__list {
    padding: 4rem 1rem 1rem 1rem;
    @media all and (max-width: 500px) {
      padding: 1rem 0;
    }
    &--title {
      font-family: "Manjari", sans-serif;
      color: #188f77;
      font-weight: bold;
    }
    &--item {
      padding-bottom: 0.8rem;
    }
  }

  &__buttonActividades {
    min-width: 300px;
    padding: 0.8rem 1.1rem 0.6rem 1.1rem;
    margin: 3rem 0;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #22c3a3;
    color: #fefefe;
    font-family: "Manjari", sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
    &:hover {
      background-color: #d37762;
      color: #fefefe;
    }
    @media all and (max-width: 500px) {
      font-size: 1.1rem;
      padding: 0.6rem 0.8rem 0.4rem 0.8rem;
 
    }
  }

  &__order {
    width: 100vw;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    padding: 3rem 0 5.5rem 0;
    &--list {
      width: 65vw;
      align-self: center;
      padding-bottom: 3rem;
      text-align: left;
    }
  }
}

.slider {
  width: 45vw;
  min-width: 300px;
  max-width: 400px;
  height: auto;
  padding: 0.5rem;
  border: 3px solid #22c3a3;
  border-radius: 0.6rem;
  --slider-height-percentage: 100%;
  --slider-transition-duration: 550ms;
  --organic-arrow-thickness: 0.1rem;
  --organic-arrow-border-radius: 1.5rem;
  --organic-arrow-height: 1.2rem;
  --organic-arrow-color: #22c3a3;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #dddddd;
  --control-bullet-active-color: #22c3a3;

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-color: transparent;
  }
}

.awssld {
  --content-background-color: none;
}
