.product {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 16px;
    overflow-y: hidden;
  }

  &__section {
    text-align: justify;
    margin: 16px;
  }
  &__text {
    width: 40vw;
    &--title {
      font-family: "Manjari", sans-serif;
      color: #d37762;
      font-size: 24px;
    }
    &--description {
      font-size: 16px;
    }
  }

  &__list {
    padding: 20px 0 0 50px;
    font-family: "Manjari", sans-serif;
    color: #188f77;

    &--title {
      padding-right: 20px;
    }
    &--item {
      padding-bottom: 15px;
    }
  }

  &__order {
    align-self: center;
    text-align: center;
    padding-bottom: 64px;
    &--list {
      padding-bottom: 32px;
      text-align: left;
    }
  }
}

.slider {
  width: 35vw;
  height: 500px;
  padding: 12px;
  border: 4px solid #22c3a3;
  border-radius: 10px;
  background-color: #dddddd;

  &__img {
    width: 35vw;
    height: auto;
    max-height: 470px;
    object-fit: scale-down;
  }
}
