.footer {
  &__container {
    width: 100%;
    height: 56px;
    margin-top: 48px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f29175;
    -webkit-box-shadow: 0px -12px 20px -15px rgba(17, 17, 17, 0.5);
    box-shadow: 0px -12px 20px -15px rgba(17, 17, 17, 0.5);
    color: #fefefe;
    font-size: 0.7rem;
    line-height: 180%;
    @media all and (max-width: 675px) {
      height: auto;
      flex-direction: column;
      padding: 0.6rem 0;
    }
  }
  &__section {
    line-height: 150%;
    padding-right: 0.5rem;
    @media all and (max-width: 675px) {
      padding-top: 0.4rem;
    }
  }

  &__copyright {
    &--icon {
      // border: 0.5px solid #426860;
      color: #b76658;
      padding: 0 0.1rem;
    }
    &--link {
      font-weight: bold;
      text-decoration: none;
      color: #fefefe;
      &:hover {
        cursor: pointer;
        color: #b76658;
      }
      &:active {
        color: #727272;
      }
    }
  }
}
